@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}
nav {
  display: inline-block;
  height: 60px;
  width: 100%;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#noIcon {
  height: auto;
}

ul {
  display: inline;
}
a {
  text-decoration-color: none;
  transition: 0.5s ease all;
  justify-content: center;
  color: #1f3749;
}
a:hover {
  color: white;
  background-color: #b13346;
}
span {
  font-weight: 900;
}
h1 {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15vh;
  font-size: 3rem;
  font-weight: 100;
}
select {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 5px;
  padding-left: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-right: 7vw;
}
.menuItem {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
}
#menuItem {
  color: #1d324a;
}
#menuItem:hover {
  color: white;
  background-color: #b13346;
  height: 20px;
}
.login {
  width: 94px;
  height: 30px;
  margin: 5px 0px;
  background-color: #b13346;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  padding-top: 8px;
}
#login {
  color: white;
  /*padding: 10px 10px;*/
}
.gral-container {
  width: 100%;
}
.centerText {
  text-align: center;
  padding: 10px;
}
.logo {
  width: 10vw;
  float: left;
  margin-left: 7vw;
  margin-bottom: 5px;
}

.mainContainer {
  height: 78vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("assets/main.png");
  background-color: grey;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  color: white;
  position: relative;
  border-top: 2px solid #b13346;
}
#overlay {
  width: 100%;
  height: 100%;
  background: #1f3749;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}
#mainContainer {
  height: 78vh;
  width: 100%;
  background-color: #1f3749;
  opacity: 0.3;
}
.header {
  height: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.container2 {
  margin: 10px auto;
  width: 80%;
  justify-content: center;
}
.subtitle {
  margin-top: 1rem;
  margin-bottom: 20px;
  font-weight: bolder;
}
.button {
  width: 120px;
  height: 30px;
  padding: 9px 10px;
  border-radius: 5px;
  background-color: #b13346;
  color: white;
  font-weight: bolder;
  font-size: 10px;
}
.btn2 {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 10px 10px #b4b4b4;
  margin: 5px;
  align-items: baseline;
  transition: 0.3s ease all;
  display: flex;
  /*font-size: 10px;
  margin: 0 auto;*/
}
.btn2:hover {
  color: white;
  fill: white;
}
.iconos {
  fill: #b13346;
  justify-content: center;
  align-items: center;
}
.iconos:hover {
  fill: white;
}
h2 {
  font-size: 20px;
  display: block;
  color: #1f3749;
}
.sectionTitle {
  margin-top: 10px;
  font-size: 2.3rem;
  display: block;
  color: #1f3749;
  padding: 20px;
  font-weight: 100;
}
.section2 {
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
}
#pButton {
  width: 85%;
  color: #1f3749;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  font-weight: bolder;
  font-size: 10px;
}
#pButton:hover {
  color: white;
}
#icon {
  width: 150px;
  fill: #b13346;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  /*position: absolute;*/
}
#icon:hover {
  color: white;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.square {
  width: 50%;
  align-items: center;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}
.video {
  width: 50%;
  background-size: cover;
  overflow: hidden;
}
.flexEnd {
  justify-content: flex-end;
}
.grey {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}
.register-title {
  color: #1f3749;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 0px auto;
}
.space {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.mainButton4 {
  font-size: 1.1rem;
  color: white;
  text-align: center;
  font-weight: bolder;
  height: 50px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.width35 {
  width: 35%;
}
.width45 {
  width: 45%;
}
.squareTitle {
  font-size: 2rem;
  color: #b13346;
  margin: 1rem 0rem;
}
.p18px {
  font-size: 1rem;
  color: #1f3749;
}
.p14px {
  font-size: 14px;
  color: #1f3749;
}
.testimonios-img {
  width: 330px;
}
.mainButton3 {
  font-size: 18px;
  color: white;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  width: 200px;
  height: 80px;
  margin: 10px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}
.blue {
  background-color: #1f3749;
}
.red {
  background-color: #b13346;
}
.p10px {
  font-size: 10px;
  font-weight: normal;
  color: white;
  text-align: center;
  justify-content: center;
}

.flexContainer2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.alignRight {
  justify-content: flex-end;
  margin-left: 5px;
}
.alignLeft {
  justify-content: start;
}

.blog {
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
  color: #1f3749;
  display: block;
  border-bottom: 2px solid #b13346;
  margin-top: 20px;
}

.listRecentItem {
  width: 300px;
  height: auto;
  box-shadow: 5px 10px 10px #b4b4b4;
  margin: 10px;
  padding: 10px;
}
.listRecentItemContainer {
  background-color: #1f3749;
  width: 300px;
  height: 160px;
  display: flex;
}
.listRecentItemImage {
  width: 300px;
  height: 160px;
  justify-content: center;
  margin: 0px auto;
  opacity: 0.5;
  background-color: #1f3749;
  /*border: 2px solid red;*/
}

.listRecentItemExcerpt {
  width: auto;
  font-size: 0.8rem;
}
#overlay2 {
  background-color: #1f3749;
  width: 300px;
  height: 160px;
}

#blog-title {
  font-size: 1rem;
  font-weight: bolder;
  color: #1f3749;
}
#blog-title:hover {
  color: white;
}
#truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
#see-more {
  font-size: 1rem;
  font-weight: bolder;
  color: #1f3749;
  float: right;
}
#see-more:hover {
  color: white;
}
/*CARROUSEL*/
.carrousel-img {
  border: 3px solid #1f3749;
  margin: 5px;
  vertical-align: top;
}
.greyColor {
  color: grey;
}
.contenedor-carrousel {
  width: 87%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow: hidden;
  flex-wrap: nowrap;
}

button {
  background-color: white;
  border: none;
}
.img {
  color: white;
}
#left-arrow {
  align-items: center;
}
#right-arrow {
  align-items: center;
}
/*NEXT SECTION*/
.margin-top {
  margin-top: 2rem;
}
.mini-title {
  font-size: 1.3rem;
  font-weight: 100;
  border-bottom: 2px solid #e12648;
  width: 80%;
  text-align: center;
  margin: 0px auto;
}
.flexContainer3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.width300px {
  width: 300px;
  margin: 10px;
}
.flexContainer4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}
.div300px {
  width: 300px;
  justify-content: center;
}
.div400px {
  width: 400px;
  box-shadow: 5px 10px 10px #b4b4b4;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.mainButton2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  width: 60%;
  height: 50px;
  margin: 10px auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

/*FOOTER*/
footer {
  height: 130px;
  width: 100%;
  padding: 20px 0px;
  margin: 0px;
  justify-content: center;
  background-color: #1f3749;
  display: flex;
  flex-direction: row;
}
#aFooter {
  color: white;
  margin: 20px;
  font-size: 10px;
  padding: 5px;
}
.containerFooter {
  width: 100%;
  justify-content: center;
}
.logoFooter {
  width: 10vw;
  margin-right: 5vw;
}
.footer1 {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15vw;
}
hr {
  border: 1px solid #b13346;
  width: 99.8%;
}

.footer2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.inline {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  color: white;
}
.inline2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#copyright {
  padding-left: 15vw;
  margin-right: 42px;
  color: white;
  font-size: 12px;
  align-items: baseline;
}
.margin-right35 {
  margin-right: 35px;
}
.margin-right24 {
  margin-right: 24px;
}
.margin-right10 {
  margin-right: 10px;
}
.margin-left {
  margin-left: 110px;
}
#icon-footer {
  color: white;
  margin: 5px;
}

/* xs devices */
@media (max-width: 400px) {
  .logo {
    display: none;
  }
  nav {
    height: 150px;
  }
  .menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menuItem {
    font-size: 1rem;
    margin: 5px;
    align-items: flex-start;
  }

  .login {
    margin: 0px;
  }
  .mainContainer {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  select {
    margin: 5px;
    width: 80%;
  }
  .button {
    margin-top: 10px;
  }
  .sectionTitle {
    font-size: 1.5rem;
    padding: 0;
    margin: 10px;
  }
  .square {
    width: 100%;
  }
  .video {
    width: 350px;
    height: auto;
  }
  .grey {
    flex-direction: column;
  }
  .space {
    width: 100%;
  }
  .squareBtn {
    margin: 0px;
  }
  .flexContainer2 {
    height: 400px;
  }
  .contenedor-carrousel {
    width: 50%;
  }
  .carrousel-img {
    width: 100px;
    height: auto;
  }
  #noIcon {
    height: 10px;
  }
  .mainButton {
    width: 130px;
    height: 80px;
    font-size: 15px;
  }
  .p10px {
    display: none;
  }
  .listRecentItemContainer {
    width: 200px;
  }
  .listRecentItem {
    width: 200px;
  }
  .listRecentItemImage {
    width: 200px;
  }
  .listRecentItemExcerpt {
    width: 180;
  }
  .flexContainer3 {
    width: 100%;
  }
  .mainButton2 {
    font-size: 1rem;
  }
  .width300px {
    width: 180px;
  }
  .testimonios-img {
    width: 200px;
  }
  .div400px {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    margin: 0px;
  }
  hr {
    width: 98%;
  }
  .inline {
    display: flex;
    flex-direction: column;
  }
  .logoFooter {
    margin: 0 auto;
    width: 70%;
  }
  .footer1 {
    padding-left: 5vw;
  }
  .footer2 {
    padding-left: 30px;
    width: 80%;
  }
  .margin-left {
    margin: 0px;
  }
  #copyright {
    padding-left: 9vw;
  }
}
/*mobile devices*/
@media (min-width: 401px) and (max-width: 576px) {
  .logo {
    display: none;
  }
  .menuItem {
    font-size: 2vh;
    margin: 6px;
    align-items: flex-start;
  }

  .login {
    margin: 0px;
  }
  .mainContainer {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  select {
    margin: 5px;
    width: 80%;
  }
  .button {
    margin-top: 10px;
  }

  .square {
    width: 100%;
  }
  .video {
    width: 350px;
    height: auto;
  }
  .grey {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .register-title {
    font-size: 1.7rem;
  }
  .space {
    width: 100%;
  }
  .squareBtn {
    margin: 0px;
  }

  .mainButton {
    width: 130px;
    height: 80px;
    font-size: 15px;
  }
  .p10px {
    display: none;
  }
  .listRecentItemContainer {
    width: 200px;
  }
  .listRecentItem {
    width: 200px;
  }
  .listRecentItemImage {
    width: 200px;
  }
  .listRecentItemExcerpt {
    width: 180;
  }
  #overlay2 {
    width: 200px;
  }
  .contenedor-carrousel {
    width: 71%;
  }
  .carrousel-img {
    width: 100px;
    height: auto;
  }
  #noIcon {
    height: 10px;
  }
  .width300px {
    width: 180px;
  }
  .div400px {
    width: 100%;
  }
  .mainButton2 {
    font-size: 1rem;
  }
  .flexContainer3 {
    width: 100%;
  }
  footer {
    width: 100%;
    height: 420px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .inline {
    display: flex;
    flex-direction: column;
  }
  .logoFooter {
    width: 32vw;
    margin-top: 40px;
  }
  .footer2 {
    padding-left: 15vw;
  }
  #copyright {
    padding-left: 6vw;
  }
  .margin-left {
    margin: 0px;
  }
}

/*medium devices*/
@media (min-width: 577px) and (max-width: 991px) {
  .gral-container {
    overflow: hidden;
  }
  .logo {
    padding-top: 15px;
  }
  .menuItem {
    font-size: 0.9rem;
  }
  .mainContainer {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 10vh;
  }
  select {
    margin: 5px 30px;
    width: 80%;
  }
  .blog {
    width: 80%;
    margin: 20px auto;
    justify-content: center;
  }
  .button {
    margin: 10px;
    justify-content: center;
  }
  .container2 {
    width: 100%;
  }
  .contenedor-carrousel {
    width: 65%;
  }
  #noIcon {
    height: 10px;
  }
  .width {
    justify-content: center;
  }
  .div300px {
    width: 80vw;
  }
  .testimonios-img {
    width: 80vw;
  }
  .div220px {
    margin-top: 10px;
  }
  .flexContainer3 {
    justify-content: center;
  }
  footer {
    width: 100%;
    height: 420px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .inline {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
  .logoFooter {
    width: 32vw;
    margin-top: 40px;
  }
  .footer2 {
    padding-left: 15vw;
  }
  #copyright {
    padding-left: 4vw;
  }
  .margin-left {
    margin: 0px;
  }
  hr {
    width: 99.7%;
  }
}
/*devices bigger than 990px*/
@media (min-width: 990px) and (max-width: 1199px) {
  .logo {
    width: 100px;
  }
  .mainContainer {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 10vh;
  }
  select {
    margin: 5px;
    width: 180px;
  }
  .space {
    justify-content: space-around;
  }
  .register-title {
    font-size: 1.8rem;
  }
  .mainButton3 {
    width: 19vw;
  }
  .contenedor-carrousel {
    width: 76%;
  }
  #noIcon {
    height: 10px;
  }
  .flexContainer {
    flex-direction: row;
  }
  .flexContainer3 {
    width: 75%;
    justify-content: space-around;
  }
  .div300px {
    width: 20vw;
  }
  .testimonios-img {
    width: 20vw;
  }
  .mini-title {
    font-size: 1.6rem;
  }
  .div400px {
    width: 47%;
  }
  .p14px {
    font-size: 1rem;
  }
  footer {
    height: 300px;
  }
  .footer1 {
    width: 80%;
  }
  .logoFooter {
    width: 17vw;
  }
  .inline {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .margin-left,
  .margin-right10,
  .margin-right24,
  .margin-right35 {
    margin: 0px;
  }
  .inline2 {
    margin: 0px;
    justify-content: flex-end;
  }
  #copyright {
    padding-left: 3vw;
  }
  /*bigger than 1200px*/
  @media (min-width: 1200px) and (max-width: 10199px) {
    .logo {
      width: auto;
    }
    nav {
      height: 15vh;
    }
    .mainButton3 {
      width: 19vw;
    }
    footer {
      height: 200px;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
    .footer1 {
      width: 80%;
      justify-content: center;
    }
    .footer2 {
      width: 80%;
      justify-content: center;
    }
    .containerFooter {
      justify-content: center;
    }
    .footer1 {
      justify-content: center;
    }
    .footer2 {
      justify-content: center;
    }
  }
}
